<h4>カテゴリー一覧</h4>
  <% @categories.each do |category| %>
    <%= category.name %>
  <% end %>

<h5>カテゴリー追加</h5>
  <%= form_with mdoel: @category, url: admin_categories_path do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "追加する" %>
  <% end %>