<h5>
  <%= @category.name %>
</h5>

 <% @category.procedures.each do |procedure| %>
    <%= link_to admin_procedure_path(procedure.id) do %>
      <%= procedure.title %>
    <% end %>
 <% end %>

 <%= link_to "手順追加する", new_admin_procedure_path %>
 
 