<h5>
  <%= @category.name %>
</h5>

 <%# @procedures.each do |procedure| %>
   <%#= link_to procedure.title, admin_procedure_path(procedure.id) %>
 <%# end %>

 <%= link_to "手順追加する", new_admin_procedure_path %>
 
 